* {
  font-family: 'Quicksand', sans-serif;
}
body {
  background: #303446;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  margin: 0.2em 0.1em;
}

/* .site-container {
  margin: auto;
  width: 80%;
} */

.room-container {
  color: white;
  margin: auto;
  min-height: 85vh;
}
.room-container h2 {
  color: white;
}
.whatever-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 48px;
  font-weight: 900;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: #7e55c5;
}

.room-name {
  padding: 2vh;
}
