* {
  box-sizing: border-box;
}

body,
h1,
p,
a,
input {
  color: white;
  text-decoration: none;
}

h2 {
  color: white;
  text-transform: capitalize;
  margin: 0;
}

header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #525252;
}

header a {
  margin-left: 10px;
  border: 2px solid black;
  padding: 8px;
  cursor: pointer;
}

header a:hover {
  background: white;
  color: black;
}

.sign-in {
  display: inline-block;
  background-color: yellow;
  color: black;
}
.sign-out {
  display: none;
}

input {
  display: block;
  margin: 8px 0px;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 100%;
}

button {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.create-roomBtn {
  background-color: #525252;
  height: 38px;
  width: 180px;
  margin: 1rem;
  border-bottom: 4px solid #312f2f;
  border-left: 1px solid #312f2f;
}
.create-roomBtn:hover {
  background-color: #665d74;
}
.create-roomBtn:active {
  background-color: #302f2f;
  border-width: 0px;
}
#roomsBtn {
  position: relative;
  background-color: #525252;
  height: 38px;
  width: 100px;
  margin: 1rem;
  border-bottom: 4px solid #312f2f;
}

#roomsBtn:active {
  background-color: #302f2f;
  border-width: 0px;
}


#btn-screenshare {
  z-index: 3;
  position: absolute;
  bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* background-color: #7e55c5; */
  opacity: 0.5;
  height: 38px;
  width: 60px;
  margin: auto;
  padding: 0px;
  border-bottom: 4px solid #25202c;
  border-radius: 12px;
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#btn-screenshare:hover {
  background-color: #665d74;
}
#btn-screenshare:active {
  background-color: #423950;
  border-width: 0px;
}

/* auth styles */

.auth-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}

.auth-wrapper.open {
  display: block;
}

.auth-modal {
  width: 300px;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 8px black;
  text-align: center;
}

.auth-modal a {
  text-decoration: underline;
  cursor: pointer;
}

.auth-wrapper .auth-modal {
  display: none;
}

.auth-wrapper .auth-modal.active {
  display: block;
}

/* screen-share css */

#users {
  /*   display: flex;
  justify-content: center; */
  max-width: 1200px;
  margin: auto;
}
.users-container {
  justify-content: flex-end;
}
.user-box {
  z-index: 1;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #525252;
  float: left;
  justify-content: center;
  min-width: 512px;
  height: 288px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.user-box video {
  position: absolute;
  border-radius: 12px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 2;
}
.usersInfo {
  z-index: 4;
  position: absolute;
  border-radius: 12px;
  font-size: 14px;
  padding: 5px 10px;
  bottom: 4px;
  left: 40px;
  background: rgb(51, 50, 50);
  opacity: 0.5;
}
.usersInfo > .users-name {
  color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 4;
}
