* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body,
h1,
p,
a,
input {
  color: white;
  text-decoration: none;
}

body {
  background: #303446;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.room-container {
  margin: auto;
  min-height: 85vh;
}
.whatever-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 5vh;
  font-weight: 900;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: #7e55c5;
}

.room-name {
  padding: 2vh;
}

h2 {
  color: white;
  text-transform: capitalize;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #525252;
}

/* header a {
  margin-left: 10px;
  border: 2px solid black;
  padding: 8px;
  cursor: pointer;
} */

header a:hover {
  background: white;
  color: black;
}

.sign-in {
  display: inline-block;
  background-color: yellow;
  color: black;
}
.sign-out {
  display: none;
}

/* input {
  display: block;
  margin: 8px 0px;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 100%;
} */

button {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
}

.room-btn {
  background-color: #525252;
  border-bottom: 4px solid #312f2f;
  border-left: 1px solid #312f2f;
}
.room-btn:hover {
  background-color: #665d74;
}
.room-btn:active {
  background-color: #302f2f;
  border-width: 0px;
}

#btn-screenshare {
  z-index: 3;
  position: absolute;
  bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.5;
  height: 38px;
  width: 60px;
  margin: auto;
  padding: 0px;
  border-bottom: 4px solid #25202c;
  border-radius: 12px;
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#btn-screenshare:hover {
  background-color: #665d74;
}
#btn-screenshare:active {
  background-color: #423950;
  border-width: 0px;
}

#users {
  max-width: 1200px;
  margin: auto;
}

.user-box {
  z-index: 1;
  position: relative;
  margin-left: 20px;
  margin: 0px 10px 20px;
  border-radius: 12px;
  background-color: #525252;
  float: left;
  justify-content: center;
  min-width: 512px;
  height: 288px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.user-box video {
  position: absolute;
  border-radius: 12px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 2;
}
.usersInfo {
  z-index: 4;
  position: absolute;
  border-radius: 12px;
  font-size: 14px;
  padding: 5px 10px;
  bottom: 4px;
  left: 40px;
  background: rgb(51, 50, 50);
  opacity: 0.5;
}
.usersInfo > .users-name {
  color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 4;
}

.join-room-wrapper {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.room-list {
  list-style-type: none;
  padding: 20px 0px 15px;
}

.join-room-btn-wrapper {
  justify-content: space-around;
  padding: 0px 5px 5px 5px;
}

.join-room {
  border: solid 5px #525252;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.join-rooms-heading {
  background: #525252;
  padding: 0.5rem;
  margin: -1px;
  width: 101%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.room {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #525252;
  padding: 0.2rem;
  margin-top: 1px;
}

.room-list-name {
  min-width: 300px;
  font-size: 1.2rem;
  margin: auto;
  padding-right: 20px;
}

.s-btn {
  height: 30px;
  min-width: 70px;
}

.m-btn {
  min-height: 34px;
  min-width: 100px;
}
.l-btn {
  min-width: 180px;
  height: 38px;
  margin: 5px;
}

.login-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
