* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightcoral;
}

body,
h1,
h2,
p,
a,
input {
  color: darkslategray;
  text-decoration: none;
}

header {
  width: 100%;
  padding: 20px;
  text-align: right;
  background: lightblue;
}

header a {
  margin-left: 10px;
  border-bottom: 2px solid black;
  padding: 4px;
  cursor: pointer;
}

header a:hover {
  background: yellow;
  color: black;
}
